<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>车驾管业务缴费系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../static/weui/weui.min.js">
    <link rel="stylesheet" href="../static/weui/weui.min.css">
    <script>
        function  examTest(){
            window.location = "http://zwunz2.natappfree.cc/egintra-fee/dockingBank/openExamination"
        }
        function business(){
            window.location = "http://zwunz2.natappfree.cc/egintra-fee/dockingBank/openBusPayment"
        }
    </script>
    <style>
        .weui-grid__icon{
            margin-left: 40px;
        }
    </style>
</head>

<body>
<div class="weui-cell" style="padding: 0; " >
    <img style="    width: 100%;" src="../static/image/3.jpg">
</div>
<div class="weui-cells weui-cells_form">

    <view class="page">
        <view class="page__bd">

            <view class="weui-grids">

                <block wx:for="{{grids}}" wx:key="*this">

                    <navigator url="" class="weui-grid" hover-class="weui-grid_active">

                        <image class="weui-grid__icon" src="../static/image/2.jpg" onclick="business()"/>

                        <view class="weui-grid__label">车管缴费</view>

                    </navigator>

                </block>

            </view>

        </view>

        <view class="page__bd">
            <view class="weui-grids">
                <navigator url="" class="weui-grid" hover-class="weui-grid_active"  onclick="business()">
                    <image class="weui-grid__icon" src="../static/image/2.jpg"  />
                    <view class="weui-grid__label" ><span >驾管缴费</span> </view>
                </navigator>

                <navigator url="" class="weui-grid" hover-class="weui-grid_active">
                    <image class="weui-grid__icon" src="../static/image/2.jpg" onclick="examTest()"/>
                    <view class="weui-grid__label" >初次考试费</view>
                </navigator>
                <navigator url="" class="weui-grid" hover-class="weui-grid_active">
                    <image class="weui-grid__icon" src="../static/image/2.jpg" onclick="examTest()" />
                    <view class="weui-grid__label" >补考费</view>
                </navigator>

                <navigator url="" class="weui-grid" hover-class="weui-grid_active">

                    <image class="weui-grid__icon" src="../static/image/2.jpg"  />

                    <view class="weui-grid__label">其他缴费</view>

                </navigator>

<!--                <navigator url="" class="weui-grid" hover-class="weui-grid_active">-->

<!--                    <image class="weui-grid__icon" src="../static/image/2.jpg"  />-->

<!--                    <view class="weui-grid__label">科目二缴费</view>-->

<!--                </navigator>-->

<!--                <navigator url="" class="weui-grid" hover-class="weui-grid_active">-->

<!--                    <image class="weui-grid__icon" src="../static/image/2.jpg"  />-->

<!--                    <view class="weui-grid__label">科目三缴费</view>-->

<!--                </navigator>-->



            </view>

        </view>

    </view>
</div>
</body>

</html>